<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogIn page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <!-- {% load statics %}   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="{% static 'css/loginapge.css' %}"/>   -->
    <link rel="stylesheet" href="../static/css/loginapge.css">
  </head>
  <body>
    <div class="main-container">
      <header class="header">
        <div class="logoset">
        <a class="logo">Logo</a>
      </div>
      <nav class="navigation">
        <a href="#">
          <span>components</span>
        </a>

        <a href="#">
          <span>Projects</span>
        </a>
        
        <a href="#">
          <span>Classroom</span>
        </a>
        
        <a href="#">
          <span>Learning center</span>
        </a>
        <a href="#">
          <span id="res">Resources</span>
        </a>
      </nav>
      <ul class="test">
        <li>
          <a href="#">
            <span>Blogs</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Tips & Tricks</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Lesson plans</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Help center</span>
          </a>
        </li>
      </ul>
      <div class="loginbtn">
        <button class="Loginbtn-popup">Log In</button>
        <button class="SignInbtn-popup">Sign In</button>
      </div>
    </header>
    <div class="wrapper">
      <span class="icon-clos"><i class="fa-solid fa-xmark"></i></span>
      <div class="form-box login">
        <h2>Login</h2>
        <form action="#">
          <div class="input-box">
            <span class="icon"></span>
            <input type="email" required />
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"></span>
            <input type="password" required />
            <label>Password</label>
          </div>
          <div class="remember-forget">
            <label><input type="checkbox" />Remember me</label>
            <a href="#">Forgot Password</a>
          </div>
          <button type="submit" class="btn">Login</button>
          <div class="login-register">
            <p>
              Don't have an accout?|<a href="#" class="register-link"
              >Register</a
              >
            </p>
          </div>
        </form>
      </div>
      
      <div class="form-box register">
        <h2>Registration</h2>
        <form action="#">
          <div class="input-box">
            <span class="icon"></span>
            <input type="text" required />
            <label>Username</label>
          </div>
          <div class="input-box">
            <span class="icon"></span>
            <input type="email" required />
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"></span>
            <input type="password" required />
            <label>Password</label>
          </div>
          <div class="remember-forget">
            <label
            ><input type="checkbox" />I agree to the tearm and
            conditions</label
            >
          </div>
          <button type="submit" class="btn">Register</button>
          <div class="login-register">
            <p>
              Already have an account?|<a href="#" class="login-link">Login </a>
            </p>
          </div>
        </form>
      </div>
      
    </div>
    <section class="text-content">
      <h2>Welcome to the simulator</h2>
      <h3>It is the platform for embedded.</h3>
      <a href="../templates/createproject.html" class="next">
        <button type="menu">Next</button>
      </a>
    </section>
  </div>
    <script src="../static/js/loginpage.js"></script>
  </body>
  </html>
  